/*

I am so fucking sorry to anyone that tries to read this

General CSS
*/

body {
	margin: 0px;
	font-size: 1rem;
	font-family: Helvetica, sans-serif;
	background-color: azure;
}

body .main {
	margin: 16px;
}

h1 {
	font-size: 2rem;
	margin: 0px;
	padding: 8px 0px 8px 0px;
	font-weight: normal;
}

/* 
Header CSS
*/

header {
	margin-top: 16px;
}

header .site-title {
	font-size: 3rem;
	padding: 0px 16px 0px 16px;
}

header .subtitle {
	font-size: 1rem;
	padding: 4px 16px 8px 16px;
}

header nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 1rem;
}

header nav ul {
	margin: 0px;
	padding: 8px 16px 8px 16px;
}

header nav ul li {
	display: inline-block;
	padding: 0px 16px 0px 0px;
	width: 150px;
}

header nav ul li a {
	display: block;
	background-color: rgb(108, 201, 231);
	padding: 16px;
	font-size: 2rem;
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	color: black;
	border: 1px solid black;
}

header nav ul li a:hover {
	background-color: rgb(84, 152, 175);
}

header #logo {
	display: inline;
	height: 40px;
	width: 40px;
	padding: 0px 16px 0px 16px;
}

/*
Teacher & Student Homepage CSS
*/

#projects {
	width: 100%;
	border-collapse: collapse;
	margin-left: -16px;
}

th {
	width: 25%;
	padding: 8px 0px 8px 16px;
	text-align: left;
}

tr {
	border-top: 1px solid rgb(212, 212, 212);
	border-bottom: 1px solid rgb(212, 212, 212);
}

tr:nth-child(even) {
	background: rgb(169, 180, 180);
}
tr:nth-child(odd) {
	background: azure;
}
tr:not(.table-header):hover {
	background: lightblue;
}

.table-header {
	border: none;
}

td {
	padding: 4px 0px 4px 16px;
	text-decoration: none;
	color: black;
}

#new-project {
	margin: 16px 0px 16px 0px;
	padding: 8px;
	background-color: rgb(73, 238, 67);
	border: 1px solid gray;
	border-radius: 4px;
}

form {
	padding: 16px;
	background-color: #ccc;
	border-radius: 4px;
	width: 18%;
}

#project-form {
	display: none;
}

#project-form div {
	padding: 4px;
	width: 100%;
	display: block;
}

#new-project:hover,
.create:hover {
	background-color: rgb(57, 187, 53);
}

.cancel:hover {
	background-color: rgb(194, 60, 60);
}

.create {
	padding: 8px;
	background-color: rgb(73, 238, 67);
	border: 1px solid gray;
	border-radius: 4px;
	margin-right: 32px;
}
.cancel {
	padding: 8px;
	background-color: rgb(238, 67, 67);
	border: 1px solid gray;
	border-radius: 4px;
}

/* Student Project Page CSS */

.student-block-header {
	display: flex;
	width: 100%;
	border: 3px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.in {
	flex-basis: 75%;
	flex-grow: 3;
	border-right: 3px solid black;
}

.out {
	flex-basis: 25%;
	flex-grow: 1;
}

.in,
.out {
	display: inline-block;
	font-size: 2rem;
	padding: 4px;
}

.block-container h2 {
	margin: 0;
	font-weight: normal;
}

.block-container {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 3px solid black;
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
}

.block-container h2 {
	padding: 4px;
}
#input-block-1,
#operator-block,
#input-block-2 {
	flex-basis: calc(25% - 2px);
	display: inline-block;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: calc(20vw);
}

#output-block {
	flex-basis: calc(25% + 3px);
	border-bottom: 1px solid black;
}

#input-block-1 h2 {
	background-color: #2a92bf;
	border-bottom: 1px solid black;
}

#operator-block h2 {
	background-color: #fb4a44;
	border-bottom: 1px solid black;
}

#input-block-2 h2 {
	background-color: #2a92bf;
	border-bottom: 1px solid black;
}

#output-block h2 {
	background-color: #00b961;
	border-bottom: 1px solid black;
}

#block-bank {
	display: block;
	flex-basis: 100%;
	height: calc(20vw);
}

.block-bank-header {
	background-color: #979797;
	border-bottom: 1px solid black;
}

.block {
	display: flex;
	width: 100%;
	height: calc(100% - 2rem - 4px);
	padding: 8px;
	box-sizing: border-box;
	background-color: lightblue;
	background-clip: content-box;
	border-radius: 32px;
	text-align: center;
	font-size: 8rem;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}

.block[type="operator"] {
	background-color: lightcoral;
}

.block[type="output"] {
	background-color: lightgreen;
}

.block:hover {
	filter: brightness(85%);
}

#block-bank .block {
	display: inline-flex;
	box-sizing: border-box;
	width: 24.7%;
}

/*

Teacher Project Page CSS

*/

.project-editor {
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	border-right: 1px solid black;
}

.project-editor div {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border-right: 1px solid black;
}

.inputs {
	width: 25%;
}
.operators {
	width: 25%;
}
.outputs {
	width: 50%;
}

.project-editor div ul {
	padding: 0;
	margin: 16px;
	list-style: none;
}

.project-editor div ul li {
	padding: 32px 8px 32px 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.inputs li {
	background-color: lightblue;
}

.operators li {
	background-color: lightcoral;
}

.outputs li {
	background-color: rgb(223, 223, 223);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.outputs li div {
	padding: 8px 16px 8px 16px;
	margin-right: 8px;
	text-align: center;
	border-radius: 8px;
	border: 1px solid black;
}

.outputs .input-block {
	background-color: lightblue;
}

.outputs .operator-block {
	background-color: lightcoral;
}

.outputs .output-block {
	background-color: lightgreen;
}

.editor-header {
	text-align: center;
	font-size: 1.5rem;
	background-color: #b1b1b1;
	padding: 16px;
	border-bottom: 1px solid black;
}

.project-editor div button {
	margin: 16px 50% 16px 16px;
	padding: 8px;
	background-color: rgb(73, 238, 67);
	border: 1px solid gray;
	border-radius: 4px;
	max-width: 150px;
}

.project-editor div button:hover {
	background-color: rgb(57, 187, 53);
}

.preview {
	margin-top: 32px;
	float: left;
	padding: 16px 32px 16px 32px;
	border-radius: 8px;
	background-color: rgb(108, 201, 231);
	text-decoration: none;
	color: black;
	border: 1px solid black;
}

.preview:hover {
	background-color: #2a92bf;
}

#new-input,
#new-operator,
#new-rule {
	width: 90%;
	box-sizing: border-box;
	margin: 16px;
	margin-top: 0;
	display: none;
}

#new-input div,
#new-operator div,
#new-rule div {
	border: none;
}

#new-input .create:hover,
#new-operator .create:hover,
#new-rule .create:hover {
	background-color: rgb(57, 187, 53);
}

#new-input .cancel:hover,
#new-operator .cancel:hover,
#new-rule .cancel:hover {
	background-color: rgb(194, 60, 60);
}

#new-input .create,
#new-operator .create,
#new-rule .create {
	padding: 8px;
	background-color: rgb(73, 238, 67);
	border: 1px solid gray;
	border-radius: 4px;
	margin: 0px 32px 0px 0px;
	min-width: 100px;
}
#new-input .cancel,
#new-operator .cancel,
#new-rule .cancel {
	padding: 8px;
	background-color: rgb(238, 67, 67);
	border: 1px solid gray;
	border-radius: 4px;
	margin: 0;
	min-width: 100px;
}

.project-editor div ul li .delete {
	background-color: #ff0d05;
	color: black;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
	transform: translate(25%, -125%);
}

.project-editor div ul li .delete:hover {
	background-color: #ac0600;
}
